.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, auto);
}

.box-level-1 {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}

.title {
    background-color: yellow;
    text-align: center;
}

.exercises {
    background-color: green;
}

.footer {
    background-color: blue;
}

.exercises {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto-fill,  minmax(0.5fr, 1fr));
    grid-gap: 20px 10px;
}

.box-level-2 {
    justify-self: stretch;
    align-self: stretch;
    word-wrap: break-word
}

.left-side {
    background-color: pink;
}

.right-side {
    background-color: orange;
}

.item {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(50% 20% 30%);
}
