.container {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.image {
    height: 100%;
    background-image: url(../resources/img/landing_pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exercises {
    background-color: blue;
}

.plan {
    background-color: red;
}

ul {
    list-style-type: none;
    column-count: 2;
    column-gap: 20px;
}

/* @media screen and (max-width: 767px) { */