.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(25%, 4);
}

.box-level-1 {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}

.box-level-3 {
    justify-self: center;
    justify-items: stretch;
}

.left-unordered-list {
    left: -100%;
}

.right-unordered-list {
    left: 100%;
}

.slide-animation {
    position: relative;
    opacity: 0;
    -webkit-transition-property: opacity left;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-property: opacity left;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.slide-animation-end {
    left: 0%;
    opacity: 1;
}

.zoom-animation {
    font-size: 100%;
    -webkit-transition-property: font-size;
    -webkit-transition-duration: 1.0s;
    transition-property: font-size;
    transition-duration: 1.0s;
}

.zoom-animation-end {
    font-size: 150%
}

.cover-image {
    height: 100%;
    background-image: url(../resources/img/landing_pic.jpg);
    /* background-color: cornflowerblue; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exercises {
    background-color: blue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

.exercise-list {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.plan {
    background-color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    color: #DDD;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    display: inline-block;
    list-style-type: none;
}

/* @media screen and (max-width: 767px) { */