.container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(20%, 5);
}

.box {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-size: 150%;
}

.header {
    background-color:yellow;
}

.image {
    height: 100%;
    background-image: url(../resources/img/landing_pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exercises {
    background-color: blue;

    justify-self: center;
    align-self: center;
}

.plan {
    background-color: red;
}

h2 {
    text-align: center;
}

a {
    color: #DDD;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
    column-count: 2;
    column-gap: 20px;
}

/* @media screen and (max-width: 767px) { */